$brand-success: #2ab27b;
$brand-danger: #d9534f;

#subscribe {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00b4e3 15%, #008cde 80%);
  text-align: center;
  position: relative;
  -webkit-background-size: 100%;
  background-size: 100%;
  overflow: hidden;

  #peopleLeft,
  #peopleRight {
    position: absolute;
    bottom: -5px;
    width: 25%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  #peopleRight {
    right: 20px;
  }

  #peopleLeft {
    left: 20px;
  }

  .subscribe-people {
    width: 100%;
    height: 100%;
    padding: 75px 0 75px 0;
    -webkit-background-size: 90%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  h2 {
    font-size: 42px;
    color: white;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(30, 30, 30, 0.4);
    margin-top: 0;

    @media (max-width: 992px) {
      font-size: 30px;
    }

    @media (max-width: 500px) {
      font-size: 22px;
    }
  }

  #subscribe-input {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border: none;
    height: 58px;
    padding-left: 25px;
  }

  .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 58px;
    text-transform: uppercase;
    font-size: 24px;

    &:focus {
      outline: none;
    }

    i {
      margin-left: 5px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .subscribe-btn {
    margin-left: -3px;
  }

  .subscribe-form-container {
    background: linear-gradient(45deg, #00b4e3 15%, #008cde 80%);
    padding: 10px;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    z-index: 1;
    max-width: 50%;
  }

  .subscribe-error {
    background-color: $brand-danger;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
  }

  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url('../../../images/icons/eclipse.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    z-index: 10;

    .icon-con {
      width: 150px;
      height: 150px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -75px;
      margin-left: -75px;
      line-height: 150px;
      animation: pop 0.5s ease-out 1;

      i {
        font-size: 96px;
        vertical-align: middle;
        color: $brand-success;
      }
    }
  }

  @keyframes pop {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.5);
    }
  }

  @media (max-width: 991px) {
    .subscribe-form-container {
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .subscribe-error {
      font-size: 14px;
    }

    .btn {
      font-size: 16px;
    }
  }
}
