.subscribe-people
  .container
    .row
      .col-xs-12
        h2 {{ $t('subscribe.headline') }}
        .subscribe-form-container
          form
            .form-group
              .input-group
                input#subscribe-input.form-control(type="email" :placeholder="$t('subscribe.placeholder')" v-model="email" required="required" v-on:click="clearError")
                span.input-group-btn.subscribe-btn
                  button.btn.btn-lg.btn-default(v-on:click.prevent="submitEmail")
                    | {{ $t('subscribe.btn') }}
                    i.ion-md-arrow-forward
    .row
      .col-xs-12
        .subscribe-error(v-if="error") {{ error }}
  .overlay(v-if="loader")
    .icon-con(v-if="submitted")
      i.ion-ios-checkmark-outline