// Body
$body-bg: white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #008cde;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #686867;

// Navbar
$navbar-default-bg: white;
$navbar-margin-bottom: 0;
$navbar-height: 60px;
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: darken($brand-primary, 10%);

// Buttons
$btn-default-color: #fff;
$btn-default-bg: #39b4ea;
$btn-primary-bg: $brand-primary;
$btn_border-radius-base: 100px;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Headlines
$font-size-h3: 20px;
$font-size-h2: 30px;
$headings-font-weight: 700;
