h2, h3{
  color: #333333;
}

h2{
  font-size:30px;
  font-weight:bold;
}

h3{
  font-size: 20px;
  font-weight: bold;
}

.container{
  p{
    font-size:14px;
    color:#686867;
  }
}

.container_inner{
  max-width:550px;
  width:100%;
  margin:0 auto;
  margin-bottom:50px;
}

.btn {
  border:none !important;
  border-radius: 100px !important;
  font-weight:bold;
}
