h2,
h3 {
  color: #333;
}

.container_inner {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.btn {
  border: none;

  &.btn-white {
    background: none;
    border: 1px solid white;
    color: white;
  }
}
