h2,
h3 {
  color: #333;
}

h2 {
  @media (max-width: $screen-sm-max) {
    font-size: 28px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
  }
}

.container_inner {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.btn {
  border: none;

  &.btn-white {
    background: none;
    border: 1px solid white;
    color: white;
  }
}
