h2,
h3 {
  color: #333;
}

.container_inner {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.btn {
  border: none !important;
  border-radius: 100px !important;
  font-weight: bold;
}
