h2,
h3 {
  color: #333;
}

.container_inner {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.btn {
  border: none;

  &.btn-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:hover,
    &:active {
      background-color: white;
      color: $brand-primary;

      &:focus {
        background-color: white;
      }
    }

    &:focus {
      background-color: transparent;
    }
  }

  &.btn-default {
    &:hover,
    &:active {
      background-color: darken($brand-primary, 10%);
      color: #fff;

      &:focus {
        background-color: darken($brand-primary, 10%);
      }
    }

    &:focus {
      background-color: $btn-default-bg;
    }
  }
}
