#companies {
  background-image: url("../images/trainer_bg.png");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

#company_logos {
  background-color: #eef5f7;
  padding-top: 15px;
  padding-bottom: 50px;

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
  }
}
