#trainer {
  width: 35%;
  margin: 0 auto;
}

#companies {
  background-image: url("../../images/trainer_bg.png");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: -80px;
}

#company-logos {
  background-color: #eef5f7;
  padding-top: 15px;
  padding-bottom: 50px;

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
  }

  a {
    padding: 20px;
    display: inline-block;
  }

  img {
    opacity: 0.5;
    filter: grayscale(100%);
    height: 40px;

    @media (max-width: $screen-sm-max) {
      height: 30px;
    }
  }
}
