#dj {
  width: 100%;
  background-color: #eef5f7;
  text-align: center;
  position: relative;
  -webkit-background-size: 90%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: -40px;
}
