#dj {
  width: 100%;
  background-color: #ebf7fd;
  text-align: center;
  position: relative;
  -webkit-background-size: 90%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom center;
}
