#env {
  top: 80px;
  padding: 8px 15px 8px 15px;
  position: fixed;
  z-index: 9999;
  background: yellow;
  color: darken(yellow, 30%);
  border: 1px solid darken(yellow, 3%);
  font-weight: bold;
  border-left: none;

  &:hover {
    opacity: 0.3;
  }
}
