/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

@media (min-width: $screen-xs-min) {
  .footer-logo {
    text-align: center;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 60px 0 60px 0;

  .footer-title {
    color: $brand-primary;
    font-size: $font-size-base;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .copyright {
    color: $text-color;
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 20px;

    li {
      padding: 2px 0;

      a {
        color: #222;
        font-size: 13px;

        &:hover {
          color: $brand-primary;
          text-decoration: none;
        }

        i {
          background-color: #ddd;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          margin-right: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
