header {
  min-height: 100vh;
  color: white;
  background: linear-gradient(-20deg, #00b4e3 15%, #0167d3 80%);

  #w2d {
    position: relative;
    width: 100%;
    margin-top: 160px;

    @media (max-width: $screen-md-max), (max-height: 850px) {
      margin-top: 140px;
    }

    // iphone 6, 7, 8
    @media (max-width: 450px) and (min-width: 300px) and (max-height: 800px) and (min-height: 650px) {
      margin-top: 200px;
    }

    // iphone x
    @media (max-width: 400px) and (min-width: 300px) and (max-height: 1000px) and (min-height: 800px) {
      margin-top: 240px;
    }

    #painter {
      position: absolute;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    #w2d-placeholder {
      text-align: center;
      position: relative;

      img {
        width: 70%;
        position: relative;
        z-index: 1;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }

      #shadow {
        bottom: -5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: auto;
        opacity: 0.6;
        filter: blur(3px);
      }
    }

    #cleaner {
      position: absolute;
      bottom: -15px;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 0.6;
      }
    }

    @keyframes bounceIn {
      0% {
        opacity: 0;
        transform: translateY(-20%);
      }

      60% {
        transform: translateY(-5);
        opacity: 0.6;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  #header-content {
    text-align: center;
    color: white;
    margin-top: 30px;

    @media (max-width: $screen-sm-max) {
      margin-top: 15px;
    }

    h1,
    h2 {
      margin: 0;
      color: white;
      font-weight: 500;
    }

    h1 {
      font-size: 28px;

      @media (max-width: $screen-sm-max) {
        font-size: 24px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    h2 {
      font-size: 20px;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }

    #token-sale-timer {
      margin-top: 120px;
      font-size: 24px;

      @media (max-width: $screen-md-max), (max-height: 850px) {
        margin-top: 80px;
      }

      @media (max-width: $screen-sm-max), (max-height: 750px) {
        margin-top: 50px;
        font-size: 18px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }

      // iphone 6, 7, 8
      @media (max-width: 400px) and (min-width: 300px) and (max-height: 800px) and (min-height: 650px) {
        margin-top: 70px;
      }

      // iphone x
      @media (max-width: 400px) and (min-width: 300px) and (max-height: 1000px) and (min-height: 800px) {
        margin-top: 70px;
      }
    }

    #header-buttons {
      margin: 20px 0 22px 0;

      @media (max-width: $screen-sm-max) {
        margin: 15px 0 17px 0;
      }

      > a.btn {
        padding: 16px 38px;

        @media (max-width: $screen-sm-max) {
          padding: 12px 30px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 8px 20px;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
