header {
  min-height: 100vh;
  // background: $brand-primary;
  color: white;
  // background: linear-gradient(45deg, #008cde 80%, #00b4e3 15%);
  background: linear-gradient(45deg, #00b4e3 15%, #008cde 80%);

  .container {
    z-index: 2;
    position: relative;
  }

  .header-background {
    position:absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;

    .square {
      background: linear-gradient(to bottom, #00b4e3 15%, #008cde 80%);
      height: 200%;
      width: 30%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: skewY(75deg);
    }

    .circle {
      position: absolute;
      background: linear-gradient(to bottom, #00b4e3 15%, #008cde 80%);
      height: 200vh;
      width: 200%;
      display: block;
      border-radius: 50%;
    }
  }

  #w2d {
    position: relative;
    width: 100%;
    margin-top: 100px;

    @media (max-width: $screen-md-max), (max-height: 850px) {
      margin-top: 80px;
    }

    // iphone 6, 7, 8
    @media (max-width: 450px) and (min-width: 300px) and (max-height: 800px) and (min-height: 650px) {
      margin-top: 140px;
    }

    // iphone x
    @media (max-width: 400px) and (min-width: 300px) and (max-height: 1000px) and (min-height: 800px) {
      margin-top: 180px;
    }

    #painter {
      width: 80%;
      margin: 0 auto;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    #cleaner {
      // height: 280px;
      height: 80%;
      position: absolute;
      bottom: 15px;
      left: 0;
    }
  }

  #header-content {
    text-align: center;
    color: white;
    margin-top: 30px;

    @media (max-width: $screen-sm-max) {
      margin-top: 15px;
    }

    h1,
    h2 {
      margin: 0;
      color: white;
      font-weight: 500;
    }

    h1 {
      font-size: 28px;

      @media (max-width: $screen-sm-max) {
        font-size: 24px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    h2 {
      font-size: 20px;

      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }

    #token-sale-timer {
      margin-top: 120px;
      font-size: 24px;

      @media (max-width: $screen-md-max), (max-height: 850px) {
        margin-top: 80px;
      }

      @media (max-width: $screen-sm-max), (max-height: 750px) {
        margin-top: 50px;
        font-size: 18px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }

      // iphone 6, 7, 8
      @media (max-width: 400px) and (min-width: 300px) and (max-height: 800px) and (min-height: 650px) {
        margin-top: 70px;
      }

      // iphone x
      @media (max-width: 400px) and (min-width: 300px) and (max-height: 1000px) and (min-height: 800px) {
        margin-top: 70px;
      }
    }

    #header-buttons {
      margin: 20px 0 22px 0;

      @media (max-width: $screen-sm-max) {
        margin: 15px 0 17px 0;
      }

      > a.btn {
        padding: 16px 38px;

        @media (max-width: $screen-sm-max) {
          padding: 12px 30px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 8px 20px;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
