header {
  min-height: 100vh;
  background: $brand-primary;
  color: white;
  // background: linear-gradient(45deg, #008cde 80%, #00b4e3 15%);

  #w2d {
    position: relative;
    width: 100%;
    margin-top: 100px;

    #painter {
      width: 80%;
      margin: 0 auto;
    }

    #cleaner {
      // height: 280px;
      height: 80%;
      position: absolute;
      bottom: 15px;
      left: 0;
    }
  }

  #header-content {
    text-align: center;
    color: white;
    margin-top: 30px;

    h1,
    h2 {
      margin: 0;
      color: white;
      font-weight: 500;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 20px;
    }

    #token-sale-timer {
      margin-top: 50px;
      font-size: 24px;
    }

    #header-buttons {
      margin: 20px 0 22px 0;

      > a.btn {
        padding: 16px 38px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
