header {
  min-height: 100vh;
  background: $brand-primary;
  // background: linear-gradient(45deg, #008cde 80%, #00b4e3 15%);

  #w2d {
    margin-top: 100px;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 300px;
    text-align: center;
    font-weight: 900;

    //#w2d-w,
    //#w2d-2,
    //#w2d-d {
    //  display: inline-block;
    //}
    //
    //#w2d-w {
    //  #painter {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //  }
    //}
  }
}
