$mission-background: #eef5f7;
$mission-item-min-height: 150px;
$mission-icon-size: 80px;

#mission {
  width: 100%;
  padding: 40px 0 50px 0;
  background-color: $mission-background;

  .mission-item {
    margin-top: 30px;

    @media (min-width: $screen-md-min) {
      min-height: $mission-item-min-height;
    }

    .mission-content {
      margin-left: 110px;

      h3 {
        margin-top: 0;
      }
    }

    .mission-icon {
      width: $mission-icon-size;
      height: $mission-icon-size;

      img {
        width: 100%;
        height: auto;
        max-width: $mission-icon-size;
      }
    }
  }
}
