$font-size-social-icons: 22px;

// desktop
@media (min-width: $screen-md-min) {
  #navbar-main {
    .btn-default {
      &:focus {
        background-color: $btn-default-bg;
      }
    }

    &.navbar {
      a.navbar-brand {
        padding: 10px 15px;

        img {
          width: auto;

          &.logo {
            height: 40px;
            display: block;
          }

          &.logo-clear {
            display: none;
          }
        }
      }

      li {
        .dropdown-menu {
          border: none;
          border-top: 6px solid $btn-default-bg;
          padding: 0;
          right: inherit;
          left: 50%;
          transform: translateX(-50%);
          top: 60px;

          &::before {
            content: '';
            position: absolute;
            top: -15px;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            left: 50%;
            border-width: 0px 14px 12px 14px;
            border-color: transparent transparent $btn-default-bg transparent;
          }

          .active a {
            color: #fff;
          }

          li {
            &:last-child {
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              overflow: hidden;

              a {
                border: none;
              }
            }

            a {
              color: #666;
              font-size: 16px;
              padding: 10px 20px;
              border-bottom: 1px solid #f4f4f4;
            }
          }
        }
      }

      li.social {
        &.social-first {
          margin-left: 20px;
        }

        &.social-last {
          margin-right: 20px;
        }

        > a {
          padding-left: 4px !important;
          padding-right: 4px !important;
          font-size: $font-size-social-icons !important;
        }
      }

      li.call-to-action {
        > a {
          &:hover {
            background-color: darken($brand-primary, 10%);
          }
        }
      }

      &:not(.navbar-clear) {
        li.call-to-action {
          > a {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 12.5px;
            color: #fff;
          }
        }
      }

      &.navbar-clear {
        background: transparent;
        border: none;
        color: #fff;
        padding-top: 20px;

        a.navbar-brand {
          padding: 0 15px;

          img {
            &.logo {
              display: none;
            }

            &.logo-clear {
              height: 60px;
              display: block;
            }
          }
        }

        ul.navbar-nav {
          > li {
            .dropdown-menu {
              top: 50px;
            }

            > a {
              color: #fff;
              font-size: 18px;
              padding: 10px 18px;
            }

            &.dropdown.open {
              > a {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: $screen-sm-max) {
  #navbar-main {
    &.navbar {
      a.navbar-brand {
        padding: 10px 15px;

        img {
          width: auto;

          &.logo {
            height: 40px;
            display: block;
          }

          &.logo-clear {
            display: none;
          }
        }
      }

      #mobile-call-to-action {
        display: inline;
        margin-top: 10.5px;
        margin-right: 15px;
      }

      li.social {
        > a {
          font-size: $font-size-social-icons;
          display: inline-block;
        }
      }
    }
  }
}
