$font-size-social-icons: 22px;

// desktop
@media (min-width: $screen-md-min) {
  #navbar-main {
    @keyframes fadeInDropdown {
      0% {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
      }

      100% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: center;
      }
    }

    @keyframes fadeOutDropdown {
      0% {
        opacity: 1;
        transform: scaleY(1);
        transform-origin: center;
      }

      100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
        transform-origin: top;
      }
    }

    ul.navbar-nav {
      > li {
        > .dropdown-menu {
          background-color: rgba(255, 255, 255, 0.95);
          border-radius: 3px;
          border: 1px solid #e2e2e2;

          .whitepaper-menu-item {
            background-color: #39b4ea;
            color: #fff;
            margin: 0 5px 5px 5px;

            .whitepaper-menu-icon {
              font-size: 84px;
              text-align: center;
            }

            .whitepaper-menu-title {
              text-align: center;
              font-size: 14px;
              margin-top: -20px;
              padding-bottom: 20px;
            }
          }

          > li {
            > a {
              color: $brand-primary;

              &:hover,
              &:focus {
                color: #fff;
                background-color: $brand-primary;
              }
            }
          }
        }

        &.dropdown.open {
          > .dropdown-menu {
            animation: fadeInDropdown 0.2s ease-in 1;

            > a {
              background: transparent;
            }
          }
        }

        &.dropdown.closed {
          > .dropdown-menu {
            animation: fadeOutDropdown 0.2s ease-in 1;
            animation-fill-mode: forwards;
            display: block;
          }
        }
      }
    }

    &.navbar {
      a.navbar-brand {
        padding: 10px 15px;

        img {
          width: auto;

          &.logo {
            height: 40px;
            display: block;
          }

          &.logo-clear {
            display: none;
          }
        }
      }

      li.social {
        &.social-first {
          margin-left: 20px;
        }

        &.social-last {
          margin-right: 20px;
        }

        > a {
          padding-left: 8px !important;
          padding-right: 8px !important;
          font-size: $font-size-social-icons !important;
        }
      }

      li.call-to-action {
        > a {
          &:hover {
            background-color: darken($brand-primary, 10%);
          }
        }
      }

      &:not(.navbar-clear) {
        li.call-to-action {
          > a {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 12.5px;
            color: #fff;
          }
        }
      }

      &.navbar-clear {
        background: transparent;
        border: none;
        color: #fff;
        padding-top: 20px;

        a.navbar-brand {
          padding: 0 15px;

          img {
            &.logo {
              display: none;
            }

            &.logo-clear {
              height: 60px;
              display: block;
            }
          }
        }

        ul.navbar-nav {
          > li {
            > a {
              color: #fff;
              font-size: 18px;
              padding: 10px 18px;
            }

            &.dropdown.open {
              > a {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: $screen-sm-max) {
  .navbar-fixed-top {
    .navbar-collapse {
      max-height: 70vh;
    }
  }

  #navbar-main {
    .whitepaper-menu-icon {
      font-size: 90px;
    }

    &.navbar {
      a.navbar-brand {
        padding: 10px 15px;

        img {
          width: auto;

          &.logo {
            height: 40px;
            display: block;
          }

          &.logo-clear {
            display: none;
          }
        }
      }

      #mobile-call-to-action {
        display: inline;
        margin-top: 10.5px;
        margin-right: 15px;
      }

      li.social {
        > a {
          font-size: $font-size-social-icons;
          display: inline-block;
        }
      }
    }
  }
}
