@media (min-width: $screen-sm-min) {
  #navbar-main {
    &.navbar {
      a.navbar-brand {
        padding: 10px 15px;

        img {
          width: auto;

          &.logo {
            height: 40px;
            display: block;
          }

          &.logo-clear {
            display: none;
          }
        }
      }

      &.navbar-clear {
        background: transparent;
        border: none;
        color: #fff;
        padding-top: 20px;

        a.navbar-brand {
          padding: 0 15px;

          img {
            &.logo {
              display: none;
            }

            &.logo-clear {
              height: 60px;
              display: block;
            }
          }
        }

        a {
          color: #fff;
          font-size: 18px;
          padding: 10px 18px;
        }
      }

      li.social {
        &.social-first {
          margin-left: 20px;
        }

        &.social-last {
          margin-right: 20px;
        }

        a {
          padding-left: 8px;
          padding-right: 8px;
          font-size: 22px;
        }
      }

      li.call-to-action {
        > a {
          &:hover {
            background-color: darken($brand-primary, 10%);
          }
        }
      }

      &:not(.navbar-clear) {
        li.call-to-action {
          > a {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 12.5px;
            color: #fff;
          }
        }
      }
    }
  }
}
