#roadmap {
  padding-top: 40px;
  padding-bottom: 40px;
}

.timeline {

  .roadmap_icon {
    float: left;
    width: 60px;
    text-align: center;
  }

  .roadmap_content {
    padding-left: 70px;
  }

  .roadmap_content:after {
    clear: both;
  }

  ul {

    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      width: 2px;
      margin: 0 auto;
      background: #0097ee;
      margin-bottom: -50px;

      &:first-child {
        padding-top: 50px;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 70px;
      }

      .roadmap_container {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 15px;
        background: #ffffff;
        box-shadow: 1px 2px 10px 1px rgba(46, 40, 64, 0.06);
      }

      .roadmap_container::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
      }
    }

    li:nth-child(odd) {
      .roadmap_container {
        left: 45px;
        border-left: 10px solid #0097ee;
      }

      .roadmap_container::before {
        left: -20px;
        border-width: 12px 16px 12px 0;
        border-color: transparent #0097ee transparent transparent;
      }

      time {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        text-align: center;
        background-color: #fff;
        line-height: 1.3em;
        padding: 5px;
        font-weight: bold;
        left: -67px;
      }
    }

    li:nth-child(even) {
      .roadmap_container {
        left: -439px;
        border-right: 10px solid #0097ee;
      }

      .roadmap_container::before {
        right: -20px;
        border-width: 12px 0 12px 16px;
        border-color: transparent transparent transparent #0097ee;
      }

      time {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        text-align: center;
        background-color: #fff;
        line-height: 1.3em;
        padding: 5px;
        font-weight: bold;
        right: -67px;
      }
    }
  }

  p {
    font-size: 14px;
    font-weight: 300;
    color: #979999;
    line-height: 1.4em;
  }

  h3 {
    margin-top: 0;
  }
}