#team{
  padding-top:40px;
  padding-bottom:40px;
}
.teamimage{
  border:12px solid #ebf7fd;
  position: relative;
}
.jobtitle{
  font-weight: bold;
  font-size: 12px !important;
  color:#39b4ea !important;
}