$token-allocation-background: #eef5f7;

#token-allocation {
  width: 100%;
  padding: 40px 0 50px 0;
  // background: $token-allocation-background;
  background-image: url('../../images/berlin.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 250px;

  .chart {
    position: relative;
    width: 100%;
    margin: 30px 0 50px 0;

    .chart-description {
      width: 100%;
      text-align: center;
      position: absolute;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
      top: 50%;
      margin-top: -20px;
      font-weight: 700;
      font-size: 16px;

      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }

    canvas {
      position: relative;
      width: 100% !important;
      max-width: 800px;
      height: auto !important;
    }
  }

  .chart-legend {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 15px;

        .legend-color {
          width: 18px;
          height: 18px;
          float: left;
          border-radius: 18px;
          margin-top: 5px;

          &.legend-color-3877eb {
            background: #3877eb;
          }

          &.legend-color-0397ee {
            background: #0397ee;
          }

          &.legend-color-38b5eb {
            background: #38b5eb;
          }

          &.legend-color-14e2f3 {
            background: #14e2f3;
          }

          &.legend-color-61eef5 {
            background: #61eef5;
          }

          &.legend-color-e1f3f7 {
            background: #e1f3f7;
          }

          &.legend-color-b8f2f5 {
            background: #b8f2f5;
          }
        }

        .legend-info {
          margin-left: 35px;

          .legend-title {
            font-weight: 700;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

#token-allocation-animation {
  width: 100%;
  position: relative;
  background: $token-allocation-background;
  height: 50px;

  @media (max-width: $screen-sm-max) {
    height: 1px;
  }

  #dogsitter {
    position: absolute;
    width: auto;
    height: 400px;
    top: -360px;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      height: auto;
      top: -300px;
    }

    @media (max-width: $screen-xs-max) {
      top: -310px;
    }

    @media (max-width: 600px) {
      top: -370px;
    }

    @media (max-width: 500px) {
      top: -325px;
    }

    @media (max-width: 400px) {
      top: -270px;
    }
  }
}
