#whitepaper {
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #53f 15%, #05d5ff 80%);
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 40px;
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(30, 30, 30, 0.4);

  i {
    margin-right: 10px;
  }
}
