#whitepaper {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(45deg, #00b4e3 15%, #008cde 80%);
  text-align: center;
  padding: 50px 0 50px 0;
  font-size: 38px;
  color: white;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(30, 30, 30, 0.2);

  @media (max-width: $screen-sm-max) {
    font-size: 30px;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 22px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  i {
    margin-right: 20px;
    font-size: 90px;
    vertical-align: middle;

    @media (max-width: $screen-sm-max) {
      font-size: 60px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 38px;
    }
  }

  #windowCleaner {
    position: absolute;
    top: 0;
    left: 30px;
    width: 220px;

    @media (max-width: $screen-xs-max) {
      width: 150px;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}
